h1,
h2,
h3,
p,
span{
  font-family: Helvetica;
}
h2{
  font-size: 32px;
  color: white;
}
span{
  color: blue;
}

/*class for same style, different elements like h2 span*/
.bold{
  font-weight: bold;
}

#title{
  font-size: 100px;
  color: khaki;
  text-align: center;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
}
#brushes{
  background-color: mediumspringgreen;
}
#frames{
  background-color: lightcoral;
}
#paint{
  background-color: skyblue;
}
